@using OfficeQuotes.Core.Models
<li>
    <BSButton IsOutline="true" IsBlock="true" @onclick="@ToggleOpen" class="text-white">Season @Season.Key (@Season.Count() episodes) <span class="oi @ArrowClass"></span></BSButton>
</li>

<BSCollapse IsOpen="@IsOpen" class="nav-section">
    @foreach (var episode in Season)
    {
        <li class="nav-item px-3">
            <NavLink class="nav-link active" @onclick="OnLinkClick" href="@GetEpisodeQualifier(Season.Key, episode.Episode)">
                <span>
                    <b>@GetEpisodeQualifier(Season.Key, episode.Episode)</b> @episode.EpisodeName
                </span>
            </NavLink>
        </li>
    }
</BSCollapse>

@code {

    [Parameter]
    public IGrouping<int, EpisodeData> Season { get; set; }

    [Parameter]
    public EventCallback OnLinkClick { get; set; }

    private bool IsOpen { get; set; }
    private string ArrowClass => IsOpen ? "oi-arrow-bottom" : "oi-arrow-top";
    private static string GetEpisodeQualifier(int season, int episode) => $"S{season}E{episode.ToString().PadLeft(2, '0')}";

    private void ToggleOpen()
    {
        IsOpen = !IsOpen;
    }

}